* {
  background-color: #ffeaea;
}
.container {
  /*tidak termasuk pada container header*/
  margin-top: 40px;
  max-width: 1270px;
  width: 100%;
  margin: 0 40px;
  box-shadow: 5px 5px 10px #6e1e1e;
}
header {
  font-size: 10;
  background-color: #dc8484;
  height: 40px;
  max-width: 1270px;
  width: 100%;
  margin: 40px 0 40px 40px;
  margin-bottom: 0;
  box-shadow: 5px 5px 10px #6e1e1e;
}
header a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 40px;
  margin-right: 50px;
  color: white;
  float: right;
  /* jarak antar kata*/
  background-color: transparent;
}
.nama {
  height: 80px;
  background-color: #b43f3f;
  font-size: 30;
  padding: 10px;
  box-shadow: 5px 5px 10px #6e1e1e;
  /* 10px : horizontal.
  5px : bayangan secara vertikal, dan nilainya positif sehingga bayangan akan muncul di bawah elemen.
  10px adalah ukuran blur bayangan. */
}
.nama p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  padding: 0 10px;
}
.bawah h3, p{
  padding-left: 750px;
  padding-bottom: 50px;
}

